body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #16697a;
}
.heading1{
  color: #120078;
  text-transform: uppercase;
  font-weight: 800;
}
.back
{
  border:0;
  background: none;
  margin: 20px auto;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: orange;
  transition: 0.25s;
  cursor: pointer;
  font-weight: 800;
  border-radius: 24px;
}
.back:hover
{
  background: #2ecc71;
}
.qt_id
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #898b8a;
  border-radius: 24px;
  transition: 0.25s;
}
.qt_id option
{
  background: black;
}
.submit
{
  justify-content: center;
  border:0;
  background: none;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color:orange;
  transition: 0.25s;
  cursor:pointer;
  font-weight: 800;
  border-radius: 24px;
  text-align: center;
}
